.info.resize-window.hidden
    .info-header.resize-grab-handle
        .info-header__title
            | Info
        .button.info-header__close
            svg(fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                path(d="M5 5h2v2H5V5zm4 4H7V7h2v2zm2 2H9V9h2v2zm2 0h-2v2H9v2H7v2H5v2h2v-2h2v-2h2v-2h2v2h2v2h2v2h2v-2h-2v-2h-2v-2h-2v-2zm2-2v2h-2V9h2zm2-2v2h-2V7h2zm0 0V5h2v2h-2z" fill="currentColor")
    .resize-content-wrapper
        .info-content.resize-content
            <!-- Info will be populated here -->
        .info-buttons
            .button.info-button__inspect-json
                span Inspect raw data
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z")
                    path(d="M14 2v4a2 2 0 0 0 2 2h4")
                    circle(cx="11.5" cy="14.5" r="2.5")
                    path( d="M13.3 16.3 15 18")
            .button.info-button__open-on-blender
                span Open on blender
                svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14.0469 5.54055L9.03441 1.69092C8.7061 1.43883 8.15444 1.43995 7.79394 1.69227C7.42891 1.9472 7.38681 2.36983 7.71122 2.63633L9.79581 4.33277H3.43106C2.90566 4.33299 2.4006 4.6848 2.30094 5.1207C2.19791 5.56452 2.55453 5.92845 3.10081 5.93014H6.32206L0.551002 10.3597C0.00865799 10.7747 -0.166373 11.4655 0.17522 11.9023C0.521627 12.347 1.25903 12.3478 1.807 11.9048L4.94466 9.33714C4.94466 9.33714 4.89863 9.68352 4.90228 9.89158C4.99663 11.648 6.33566 13.2761 7.99363 13.9972C10.8505 15.2626 14.7077 14.1042 15.7923 10.8065C16.3081 9.07667 15.9127 7.01964 14.0468 5.54058M8.73322 11.6723C6.47688 10.4913 6.47685 7.5227 8.73322 6.34167C10.9896 5.16064 13.8253 6.64495 13.8253 9.00699C13.8253 11.369 10.9896 12.8533 8.73322 11.6723ZM9.42038 10.6095C7.98116 9.85677 7.98116 7.9647 9.42038 7.21199C10.8596 6.45927 12.6683 7.40527 12.6683 8.91074C12.6683 10.4162 10.8596 11.3622 9.42038 10.6095Z" fill="white")
