doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // content-security-policy-replaced-on-extension-js

    title GLB Viewer WebView

    link(href='styles/style.scss', rel="stylesheet")
  body
    include views/container.pug

    script(type="module" src="js/main.js")
